{% extends "base.html" %}

{% block content %}
<h1 class="text-body-emphasis">Bun Venit !</h1>
<p class="text-body">
    Acesta este un site cu mai multe quiz-uri haioase (speram), care te vor
    ajuta sa iti petreci timpul mai placut.
</p>

<div class="col-md-6 mt-5">

</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="../static/images/official-disney-princesses.jpg"
                class="card-img-top" alt="poza cu printese Disney">
            <div class="card-body">
                <h5 class="card-title">Afla ce printesa Disney esti</h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Cinderella
                    sau poate esti ca Merida ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/princess_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../static/images/marvel_superheroes.png"
                class="card-img-top" alt="poza cu supereroi Marvel">
            <div class="card-body">
                <h5 class="card-title">Afla ce super-erou Marvel esti</h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Iron-Man
                    sau poate esti ca Spider-Man ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/marvel_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://www.whoa.in/download/tom-and-jerry-cat-and-mouse-fb-cover8" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla ce personaj de desene animate esti
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Bugs-Bunny
                    sau poate esti ca Tom ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/cartoon_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://3.bp.blogspot.com/-6H-mv395ke4/Uo1tUmFF03I/AAAAAAAAyKE/7KPW64_f3m8/s1600/image.jpg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla ce personaj din Jocurile Foamei esti
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Peeta Mellark
                    sau poate esti ca Finnick Odair ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/hungergames_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://www.ghawyy.com/wp-content/uploads/2021/08/photo-1604882767135-b41fac508fff.jpg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla cum va arata anul 2024 pentru tine in functie de alegerile tale vestimentare
                </h5>
                <p class="card-text">Vrei sa afli ce iti rezerva 2024? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/outfit_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI2ZDiPNUIdQKxmExoqTHvNOM3kdhz8KwQeg&usqp=CAU" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla cine ar fi parintele tau zeu in universul Percy Jackson
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Poseidon
                    sau poate esti ca Athena ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/pjo_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://www.brickfanatics.com/wp-content/uploads/2023/02/LEGO-Harry-Potter-Hogwarts-House-Banners-first-look-1024x501.png"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla din ce casa Harry Potter faci parte
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca ai fi in
                    Gryffindor
                    sau poate esti din Slytherin ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/hp_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/safari-animals-walking-side-horizontal-banner-susan-schmitz.jpg"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla care este animalul tau spiritual
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca in alta viata ai fi un
                    lup
                    sau poate un delfin ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/spirit_animal_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://acs.pub.ro/wp-content/themes/twentythirteen/img/ro/acs_mobi.png"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla cu ce profesor din automatica semeni
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    RD
                    sau poate ca Luminita ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/teacher_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
</div>



  <div class="col">
        <div class="card">
            <img src="https://changelly.com/blog/wp-content/uploads/2023/02/doge-1.jpeg"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Ce bitcoin esti?
                </h5>
                <p class="card-text">Milioane, milioane  </p>
                <p class="card-text">Try me !</p>
                <a href="http://127.0.0.1:3000"  class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
```