{% extends "base.html" %}

{% block content %}
<h1 class="text-body-emphasis">Bun Venit !</h1>
<p class="text-body">
    Acesta este un site cu mai multe quiz-uri haioase (speram), care te vor
    ajuta sa iti petreci timpul mai placut.
</p>

<div class="col-md-6 mt-5">

</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="../static/images/official-disney-princesses.jpg"
                class="card-img-top" alt="poza cu printese Disney">
            <div class="card-body">
                <h5 class="card-title">Afla ce printesa Disney esti</h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Cinderella
                    sau poate esti ca Merida ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/princess_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../static/images/marvel_superheroes.png"
                class="card-img-top" alt="poza cu supereroi Marvel">
            <div class="card-body">
                <h5 class="card-title">Afla ce super-erou Marvel esti</h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Iron-Man
                    sau poate esti ca Spider-Man ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/marvel_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../static/images/official-disney-princesses.jpg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla ce personaj de desene animate esti
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Bugs-Bunny
                    sau poate esti ca Tom ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/cartoon_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../static/images/official-disney-princesses.jpg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla ce personaj de desene animate esti
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Bugs-Bunny
                    sau poate esti ca Tom ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/cartoon_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../static/images/official-disney-princesses.jpg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla ce personaj de desene animate esti
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Bugs-Bunny
                    sau poate esti ca Tom ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/cartoon_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../static/images/official-disney-princesses.jpg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Afla ce personaj de desene animate esti
                </h5>
                <p class="card-text">Ai vrut sa afli vreodata daca esti ca
                    Bugs-Bunny
                    sau poate esti ca Tom ? </p>
                <p class="card-text">Acum poti afla !</p>
                <a href="/cartoon_quiz" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="https://changelly.com/blog/wp-content/uploads/2023/02/doge-1.jpeg" class="card-img-top"
                alt="poza cu quiz">
            <div class="card-body">
                <h5 class="card-title">Ce bitcoin esti?
                </h5>
                <p class="card-text">Milioane, milioane </p>
                <p class="card-text">Try me</p>
                <a href="http://127.0.0.1:3000" class="btn btn-outline-primary"
                    role="button">Acceseaza
                    quiz-ul</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
```

