{% extends "base.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block content %}
<form method="post" action="/princess_quiz">
  {% for question in questions %}
  {% set current_index = loop.index0 %}
  <div class="mb-3">
    <p>{{ question['question_text'] }}</p>
    {% for option in question['options'] %}
    <input type="radio" name="question_{{ current_index }}"
      value="{{ option['option_text'] }}"
      id="option_{{ current_index }}_{{ loop.index }}">
    <label for="option_{{ current_index }}_{{ loop.index }}">{{
      option['option_text'] }}</label><br>
    {% endfor %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-outline-success">Submit</button>
</form>
{% endblock %}